.App {
  text-align: center;
  margin-top: 10%;
}

.lists-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
}

.list-pending {
    width:40%;
}

.list-completed {
    width: 40%;
}

.icon {
  margin-left: 5px;
}